{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "sznm/react",
    "plugin:react/jsx-runtime",
    "plugin:@next/next/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.stories.tsx"
        ]
      }
    ]
  }
}
